@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik";

  font-display: swap;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Rubik";

  font-display: swap;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Raleway";

  font-display: swap;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
}

body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Rubik", "Arial", "Helvetica", sans-serif;
  color: #444444;
}

.menu-link {
  color: #000000;
  text-decoration: none;
}

.nav-link {
  font-weight: 800;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.sub-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  color: #000000;
}

.btn {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.props th {
  font-weight: 400;
  font-size: 16px;
}

.props td {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.category {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  color: #000000;
  text-decoration: none;
  letter-spacing: -0.02em;
}

.services-tab {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.delivery-link {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.delivery-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.02em;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.mailing-submit {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
