@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik";

  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Rubik";

  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Raleway";

  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Rubik", "Arial", "Helvetica", sans-serif;
  color: #444444;
}


/* ___common-styles___ */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.page-container {
  box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.title {
  display: block;
  margin: 0;

  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  color: #000000;
}

.btn {
  position: relative;
  z-index: 2;

  display: inline-block;
  min-width: 180px;
  padding: 10px 20px;

  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;

  background-color: transparent;
  border: 0;
}

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;

  display: block;
  width: 100%;
  height: 8px;

  background-color: #ffe17f;
  transform: translateY(-50%);

  transition: transform 0.2s;
}

/*Есть смысл вынести стили для табов в отдельный модификатор и не дублировать код*/

.btn_about {
  min-width: 230px;
}

.btn_contacts {
  min-width: 220px;
}

.btn_filter-submit {
  width: 100%;
}

.btn_modal-submit {
  min-width: 200px;
}

.btn:hover::before {
  transform: translateY(-50%) scaleY(5);
}

.btn:focus {
  outline: 2px solid #af4fff;
}

.btn:active::before {
  background-color: #ffcc33;
}

/* ___page-nav___ */

.page-nav {
  margin: 0 auto;
  padding: 17px 60px 23px;

  background-image: linear-gradient(#ffffff 18%, #ffe17f 18%);
}

.logo {
  display: block;
  width: 145px;
  height: 36px;

  cursor: pointer;
}

.logo:hover {
  opacity: 0.6;
}

.logo:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.logo:active {
  opacity: 0.3;
}

.logo__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-nav__logo {
  margin-bottom: 30px;
}

.user-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 160px;
  width: 517px;
}

.search-field {
  margin-right: -2px;
}

.search-field:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.search-field__input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  padding-left: 45px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  color: #000000;

  background-color: transparent;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 14px 50%;
  border: 2px solid #000000;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  outline: none;
}

.search-field__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  font-family: inherit;
  color: #000000;

  opacity: 0.3;
}

.search-field__input:disabled {
  opacity: 0.3;
}

.search-submit {
  position: relative;

  box-sizing: border-box;
  padding: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: #000000;

  background-color: transparent;
  border: 2px solid #000000;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  outline: none;
}

.search-submit:hover {
  color: #ffffff;

  background-color: #000000;
}

.search-submit:focus::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: transparent;
  outline: 2px solid #af4fff;
  outline-offset: 4px;

  pointer-events: none;
}

.search-submit:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 231px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.action-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 241px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.action-menu > li {
  position: relative;
}

.menu-link {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;

  color: #000000;
  text-decoration: none;
}

.menu-link_logout {
  color: rgba(0, 0, 0, 0.3);
}

.menu-link__icon {
  margin-right: 12px;
}

.menu-link__counter {
  position: absolute;
  top: 5px;
  left: -15px;

  display: block;
  min-width: 21px;
  height: 21px;

  font-size: 14px;
  line-height: 21px;
  text-align: center;

  background-color: #ffffff;
  border-radius: 50%;
}

.menu-link:hover {
  opacity: 0.6;
}

.menu-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.menu-link:active {
  opacity: 0.3;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-menu > li:not(:last-child) {
  margin-right: 50px;
}

.nav-menu > li:first-child {
  position: relative;

  width: 290px;
  margin-right: auto;
}

.nav-link {
  position: relative;

  margin-right: -0.2em;

  font-weight: 800;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;

  outline: none;
}

.nav-link_sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link_sub::after {
  content: "";

  display: block;
  width: 50px;
  height: 50px;

  background-image: url("../img/sub_button.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0.3;
}

.nav-link_footer {
  color: #ffffff;
}

.nav-link:hover {
  opacity: 0.6;
}

.nav-link_sub:hover,
.nav-link_sub:hover::after {
  opacity: 1;
}

.nav-link_footer:hover {
  color: #ffc700;

  opacity: 1;
}

.nav-link_footer:hover::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;

  width: calc(100% - 0.2em);
  height: 2px;

  background-color: #ffc700;
}

.nav-link:focus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: calc(100% - 0.2em);
  height: 100%;

  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.nav-link_sub:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.nav-link_sub:focus::before {
  display: none;
}

.nav-link_sub:focus::after {
  background-image: url("../img/sub-button-open.svg");
}

.nav-link:active {
  opacity: 0.3;
}

.nav-link_sub:active,
.nav-link_sub:active::after {
  opacity: 1;
}

.nav-link_footer:active {
  outline: none;
  opacity: 0.3;
}

.sub-menu {
  position: absolute;
  top: 56px;
  left: -60px;
  z-index: 2;

  display: none;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: 200px 160px 200px;
  row-gap: 6px;
  width: 1040px;
  height: 180px;
  margin: 0;
  padding: 0 60px;

  list-style: none;
  column-gap: 52px;

  background-color: #ffe17f;
}

.sub-menu li:nth-child(5) {
  grid-column: 2 / -1;
}

.nav-menu__item:focus-within .sub-menu {
  display: grid;
}

.nav-menu__item:focus-within .nav-link_sub::after {
  background-image: url("../img/sub-button-open.svg");
}

.sub-link {
  position: relative;

  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.sub-link_current::after {
  content: "";
  position: absolute;
  top: 100%;

  display: block;
  width: 100%;
  height: 2px;

  background-color: #000000;
}

.sub-link:hover {
  opacity: 0.6;
}

.sub-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.sub-link:active {
  opacity: 0.3;
}

/* ___page-main___ */

.main-container {
  flex-grow: 1;
}

.page__section {
  margin-bottom: 70px;
}

/* ___slider___ */

.slider {
  position: relative;

  background-image: linear-gradient(#ffe17f 115px, #ffffff 115px);
}

.slides {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  position: relative;

  padding-top: 85px;
  padding-left: 600px;
}

.slide::before {
  content: "01";
  position: absolute;
  top: 45px;
  right: 50px;

  display: block;

  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  font-family: "Rubik", "Arial", "Helvetica", sans-serif;
  text-align: right;
  color: #ffffff;
}

.slide__image {
  position: absolute;
  top: -35px;
  left: 0;
}

.slide-content-wrapper {
  position: relative;
  z-index: 1;
}

.slide__slogan {
  margin-bottom: 30px;
}

.slide__description {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

.slide__btn {
  margin-bottom: 50px;
}

.props {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 20px;
  margin: 0;
}

.slide_selfie .props {
  gap: 40px;
}

.prop {
  display: flex;
  flex-direction: column;
}

.props dt {
  font-weight: 400;
  font-size: 16px;
}

.props dd {
  order: -1;
  margin: 0;
  margin-bottom: 10px;

  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.slider-arrows {
  position: absolute;
  top: 175px;
  left: 30px;

  display: flex;
  justify-content: space-between;
  width: 530px;
}

.slider-arrow {
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 60px;
  padding: 0;

  background: none;
  background-image: url("../img/slider/slider-arrow.svg");
  border: 0;
  cursor: pointer;
}

.slider-arrow_next {
  transform: rotate(180deg);
}

.slider-arrow:hover {
  opacity: 0.6;
}

.slider-arrow:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.slider-arrow:active {
  opacity: 0.3;
}

.slider-selects {
  position: absolute;
  top: 340px;
  right: 0;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  width: 75px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-select-btn {
  position: relative;

  display: block;
  width: 12px;
  height: 12px;
  padding: 0;

  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.slider-select-btn_current {
  background-color: #000000;
}

.slider-select-btn:hover {
  opacity: 0.6;
}

.slider-select-btn:focus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: transparent;
  outline: 2px solid #af4fff;
  outline-offset: 4px;

  pointer-events: none;
}

.slider-select-btn:active {
  opacity: 0.3;
}

/* ___favourites___ */

.favourites {
  padding-top: 110px;
  padding-bottom: 80px;
}

.favourites-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.category {
  display: block;
  width: 160px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  color: #000000;
  text-decoration: none;
  letter-spacing: -0.02em;
}

.category::before {
  content: "";

  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;

  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: center;
}

.category_vr::before {
  background-image: url("../img/vr.svg");
}

.category_selfie::before {
  background-image: url("../img/selfie.svg");
  background-position: center bottom;
}

.category_cameras::before {
  background-image: url("../img/action_cameras.svg");
}

.category_fitness::before {
  background-image: url("../img/fitness_bracelets.svg");
}

.category_swatch::before {
  background-image: url("../img/smart_watches.svg");
}

.category_quadro::before {
  background-image: url("../img/quadrocopters.svg");
}

.category:hover::before {
  background-color: #ffc700;
}

.category:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.category:active {
  opacity: 0.3;
}

/* ___services___ */

.services {
  padding-bottom: 72px;

  background-image: linear-gradient(#ffffff 26%, #f0f0f0 26%);
}

.services-layout {
  display: flex;
}

.services-tabs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  margin: 0;
  padding: 0;
  padding-top: 65px;
  padding-bottom: 65px;

  list-style: none;

  border-right: 7px solid #000000;
}

.services-panels {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.services-panel {
  padding-top: 75px;
  padding-bottom: 72px;
  padding-left: 116px;

  background-repeat: no-repeat;
}

.services-panel_delivery {
  background-image: url("../img/delivery.svg");
  background-position: center right 63px;
}

.services-panel_warranty {
  background-image: url("../img/warranty.svg");
  background-position: center right 30px;
}

.services-panel_credit {
  background-image: url("../img/credit.svg");
  background-position: center right 30px;
}

.services-panel__title {
  margin-bottom: 34px;
}

.services-panel__text {
  width: 476px;
  margin: 0;
  padding: 0;
}

.services-tabs li {
  position: relative;
  z-index: 2;
}

.services-tab {
  position: relative;
  z-index: 2;

  display: inline-block;
  width: 160px;
  padding: 10px 20px;

  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;

  background-color: transparent;
  border: 0;
}

.services-tab::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;

  display: block;
  width: 100%;
  height: 8px;

  background-color: #ffe17f;
  transform: translateY(-50%);

  transition: transform 0.2s;
}

.services-tab:hover::before {
  transform: translateY(-50%) scaleY(5);
}

.services-tab:focus {
  outline: 2px solid #af4fff;
}

.services-tab:active::before {
  background-color: #ffc500;
}

.services-tab_current {
  color: #ffe17f;
}

.services-tab_current::before {
  display: none;
}

.services-tab_current:hover {
  color: rgba(255, 225, 127, 0.5);
}

.services-tab_current:focus {
  outline: none;
}

.services-tabs li:has(.services-tab_current) {
  background-color: #000000;
}

.services-tabs li:has(.services-tab_current:focus) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.services-tab_current:active {
  color: rgba(255, 225, 127, 0.3);
}

/* ___delivery-link___ */

.delivery-link {
  position: relative;

  display: block;
  width: 910px;
  margin: 0 auto;
  padding: 38px 125px;

  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;

  background-color: #f0f0f0;
}

.page-main__delivery {
  margin-top: 70px;
  margin-bottom: 70px;
}

.delivery-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 125px;
  height: 100px;

  background-color: #ffe17f;
  background-image: url("../img/delivery-link.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.delivery-link::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 43px;

  display: block;
  width: 40px;
  height: 40px;

  background-image: url("../img/info-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  opacity: 0.3;
}

.delivery-link:hover::before {
  background-color: #ffc700;
}

.delivery-link:hover::after {
  opacity: 1;
}

.delivery-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.delivery-link:active {
  opacity: 0.3;
}

.info-layout {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

/* ___about___ */

.about {
  position: relative;

  width: 520px;
  padding-top: 47px;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 84px;
  height: 7px;

  background-color: #000000;
}

.about__title {
  margin-bottom: 45px;
}

.about p {
  margin: 0;
  margin-bottom: 30px;
}

.about__list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  list-style: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.02em;
}

.about__list li {
  position: relative;

  padding-left: 35px;
}

.about__list li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 3px;

  display: block;
  width: 8px;
  height: 8px;

  background-color: #ffc700;
  border-radius: 50%;
  transform: translateY(-50%);
}

.about__list li:not(:last-child) {
  margin-bottom: 18px;
}

/* ___contacts___ */

.contacts {
  position: relative;

  width: 532px;
  padding-top: 48px;
}

.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 84px;
  height: 7px;

  background-color: #000000;
}

.contacts__title {
  margin-bottom: 45px;
}

.contacts__description,
.contacts__info,
.contacts__schedule {
  margin: 0;
  margin-bottom: 30px;
}

.contacts__schedule p {
  margin: 0;
}

.contacts__subtitle {
  margin: 0;
  margin-bottom: 15px;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.address {
  font-style: normal;
}

.phone-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
}

.phone-link:hover {
  opacity: 0.6;
}

.phone-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.phone-link:active {
  opacity: 0.3;
}

/* ___mailing___ */

.mailing {
  padding-top: 65px;
  padding-bottom: 57px;

  background-color: #f0f0f0;
}

.mailing-layout {
  display: flex;
  row-gap: 145px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.mailing__title {
  width: 350px;
}

.mailing__description {
  width: 552px;
  margin: 0;
}

.mailing-form {
  display: grid;
  grid-template-columns: 1fr 253px;
  width: 810px;
}

.mailing-field {
  margin: 0;
  padding: 11px 15px;

  font: inherit;
  color: #444444;

  background-color: transparent;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  outline: none;
}

.mailing-field::placeholder {
  opacity: 0.5;
}

.mailing-field:focus {
  background-color: #dcdcdc;
}

.mailing-field:invalid {
  border-bottom: 3px solid #ff3d3d;
}

.mailing-field:disabled {
  opacity: 0.3;
}

.mailing-submit {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: transparent;
  border: 3px solid #c4c4c4;
  cursor: pointer;
}

.mailing-submit:hover {
  color: #ffffff;

  background-color: #000000;
  border-color: #000000;
}

.mailing-submit:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.mailing-submit:active {
  color: rgba(255, 255, 255, 0.3);
}

.mailing__note {
  align-self: center;
  margin: 0;
  padding-left: 34px;

  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center left;
}

/* ___page-footer___ */

.page-footer {
  padding-top: 62px;
  padding-bottom: 65px;

  color: #ffffff;

  background-color: #444444;
}

.page-footer__logo {
  margin-bottom: 32px;
}

.page-footer__middle {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.page-footer__address {
  width: 236px;
  margin-right: 115px;

  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  width: 444px;
  margin: 0;
  margin-right: auto;
  padding: 0;

  list-style: none;
}

.page-footer__phone {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
}

.page-footer__phone:hover {
  color: #ffc700;
}

.page-footer__phone:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.page-footer__phone:active {
  opacity: 0.3;
}

.page-footer__social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.page-footer__social::before {
  content: "";

  display: block;
  width: 80px;
  height: 7px;

  background-color: #ffc500;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  width: 150px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social li {
  margin-right: 15px;
}

.social li:nth-child(3n) {
  margin-right: 0;
}

.social-link {
  position: relative;

  display: block;
  width: 40px;
  height: 40px;

  background-color: rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  outline: none;
}

.social-link_facebook {
  background-image: url("../img/facebook-icon.svg");
}

.social-link_instagram {
  background-image: url("../img/instagram-icon.svg");
}

.social-link_twitter {
  background-image: url("../img/twitter.svg");
}

.social-link:hover {
  background-color: rgba(255, 199, 0, 1);
  opacity: 1;
}

.social-link:focus::after {
  content: "";
  z-index: -1;

  display: block;
  width: 100%;
  height: 100%;

  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.social-link:active {
  opacity: 0.3;
}

.credit {
  display: block;
  justify-self: end;
  width: 115px;
  height: 33px;
}

.credit__image {
  display: block;
  width: 115px;
  height: 33px;
}

.credit:hover path {
  fill: #ffffff;
}

.credit:focus {
  outline: 2px solid #af4fff;
}

.credit:active {
  opacity: 0.3;
}

/* ___catalog___ */

.page-catalog {
  padding-top: 35px;
}

.page-heading {
  margin-bottom: 30px;
  padding: 0 60px;
}

.page-catalog__title {
  margin-bottom: 10px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs li:not(:last-child) {
  padding-right: 36px;

  background-image: url("../img/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 13px;
}

.breadcrumb {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

.breadcrumb:hover {
  opacity: 0.6;
}

.breadcrumb:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.breadcrumb:active {
  opacity: 0.3;
}

/* ___filters___ */

.catalog-wrapper {
  background-color: #f0f0f0;
}

.catalog-layout {
  display: flex;
}

.filters {
  width: 220px;
  padding: 0 60px;
  padding-top: 27px;
  padding-right: 40px;
}

.catalog-right-column {
  flex-grow: 1;
}

/* ___filter___ */

.filter-title {
  margin: 0;

  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filters__title {
  margin-bottom: 55px;
}

.filter-group {
  width: 200px;
  margin: 0;
  padding: 0;

  border: 0;
}

.filter-form__group {
  margin-bottom: 35px;
}

.filter-group__title {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.02em;

  border-top: 2px solid #000000;
}

.filter-group__title_range {
  margin-bottom: 30px;
}

.range-scale {
  position: relative;

  height: 2px;
  margin-bottom: 16px;

  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;

  width: 119px;
  height: 2px;

  background-color: #000000;
}

.range-button {
  position: absolute;
  top: 50%;

  box-sizing: border-box;
  width: 18px;
  height: 18px;

  background-color: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  outline: none;
  transform: translateY(-50%);
  cursor: pointer;
}

.range-button_min {
  left: -9px;
}

.range-button_max {
  left: 110px;
}

.range-button:hover {
  border-color: rgba(0, 0, 0, 0.5);
}

.range-button:focus::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: transparent;
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.range-button:active {
  background-color: #000000;
  opacity: 1;
}

.range-wrapper-inputs {
  position: relative;
  left: -15px;

  display: flex;
}

.range-price {
  font-size: 15px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.3);
}

.range-price:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.range-price input {
  width: 65px;
  padding: 0 2px;

  font: inherit;
  color: #000000;

  background-color: transparent;
  border: none;
  outline: none;

  appearance: textfield;
}

.range-price input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.range-price:first-child {
  margin-right: 15px;
}

.filter-list {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-list li {
  display: flex;
}

.filter-list li:not(:last-child) {
  margin-bottom: 17px;
}

.radio,
.check {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.check {
  position: relative;

  display: block;
  padding-left: 36px;
}

.check__box {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 20px;
  height: 20px;
  margin-right: 16px;

  background-image: url("../img/check_radio/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.check__input:checked + .check__box {
  background-image: url("../img/check_radio/check-checked.svg");
}

.check:hover {
  opacity: 0.6;
}

.check__input:focus + .check__box {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.check:active {
  opacity: 0.3;
}

.radio {
  position: relative;

  padding-left: 36px;
}

.radio__button {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 20px;
  height: 20px;
  margin-right: 16px;

  background-image: url("../img/check_radio/radio.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.radio__input:checked + .radio__button {
  background-image: url("../img/check_radio/radio-checked.svg");
}

.radio:hover {
  opacity: 0.6;
}

.radio__input:focus + .radio__button {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.radio:active {
  opacity: 0.3;
}

/* ___sorting___ */

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.sorting-form {
  width: 160px;
}

.select-control-wrapper {
  position: relative;
}

.select-control-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 30px;
  height: 30px;

  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;

  pointer-events: none;
}

.select-control {
  box-sizing: border-box;
  width: 100%;
  padding: 0;

  font: inherit;
  color: #000000;

  background: none;
  border: 0;
  outline: none;

  appearance: none;
}

.select-control-wrapper:hover {
  opacity: 0.6;
}

.select-control-wrapper:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.select-control-wrapper:active {
  opacity: 0.3;
}

.select-control-wrapper:has(:disabled) {
  opacity: 0.1;
}

.orders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.order-btn {
  position: relative;

  display: block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  padding: 0;

  background-color: transparent;
  border: 0;
}

.order-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 11px;
  height: 10px;

  background-image: url("../img/sort-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.2;
}

.order-btn_desc {
  transform: rotate(180deg);
}

.order-btn:hover::before {
  opacity: 0.6;
}

.order-btn:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.order-btn:active::before {
  opacity: 0.3;
}

/* ___products___ */

.products {
  padding: 70px 40px 78px;

  background-color: #ffffff;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 40px;
  margin: 0;
  margin-bottom: 46px;
  padding: 0;

  list-style: none;
}

/* ___product___ */

.product {
  position: relative;

  display: flex;
  flex-direction: column;
}

.product_new::before {
  content: "";
  position: absolute;
  top: 27px;
  right: 27px;

  display: block;
  width: 60px;
  height: 60px;

  background-image: url("../img/new-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.product__content {
  display: flex;
  justify-content: space-between;
}

.product__title {
  width: 200px;
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.02em;
}

.product__image {
  order: -1;
  margin-bottom: 33px;
}

.product__price {
  margin: 0;

  line-height: 21px;
}

.product__btn {
  position: absolute;
  top: 170px;
  left: 70px;

  display: none;
}

.product:hover::after {
  content: "";
  position: absolute;

  display: block;
  width: 100%;
  height: 380px;

  background-color: #f0f0f0;
  opacity: 0.8;
}

.product:hover .product__content {
  opacity: 0.6;
}

.product:hover .product__btn {
  display: block;
}

.product:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.product:active .product__btn::before {
  background-color: #ffc700;
}

.more-btn {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 15px 20px;

  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #ffffff;
  border: 3px solid #e5e5e5;
  cursor: pointer;
}

.products__more {
  margin-bottom: 44px;
}

.more-btn:hover {
  border-color: #000000;
}

.more-btn:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.more-btn:active {
  opacity: 0.3;
}

/* ___pagination___ */

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #ebebeb;
}

.pagination-item:first-child {
  margin-right: auto;
}

.pagination-item:last-child {
  margin-left: auto;
}

.pagination-btn {
  display: block;
  box-sizing: border-box;
  min-width: 128px;
  padding: 25px;

  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;

  background-color: #ebebeb;
}

.pagination-btn:hover {
  background-color: #dcdcdc;
}

.pagination-btn:focus {
  background-color: #f0f0f0;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(68, 68, 68, 0.3);
  text-decoration: none;
}

.pagination-link:hover {
  color: rgba(68, 68, 68, 1);
}

.pagination-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-link:active {
  color: rgba(68, 68, 68, 0.1);
}

.cart-popover {
  position: absolute;
  top: calc(100% + 6px);
  left: -142px;
  z-index: 2;

  display: none;
  width: 320px;
  min-height: 220px;
  padding-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", sans-serif;
  color: #ffffff;

  background-color: #000000;
}

.cart-popover_open {
  display: block;
}

.cart-popover::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 153px;

  display: block;
  width: 14px;
  height: 6px;

  background-color: transparent;
  background-image: url("../img/popover-top.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.cart-popover__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.cart-popover__list li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.popover-product {
  position: relative;

  display: flex;
  padding: 20px;
}

.popover-product__content {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;

  color: inherit;
  text-decoration: none;
}

.popover-product__content:hover {
  opacity: 0.6;
}

.popover-product__content:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.popover-product__content:active {
  opacity: 0.3;
}

.popover-product__title {
  margin: 0;
}

.popover-product__image {
  display: block;
  width: 39px;
  height: 43px;
  margin-right: 23px;
}

.popover-product__close {
  position: absolute;
  top: 18px;
  right: 18px;

  width: 14px;
  height: 14px;

  background-color: #000000;
  background-image: url("../img/popover-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.popover-product__close:hover {
  opacity: 0.6;
}

.popover-product__close:focus {
  outline: 2px solid #af4fff;
}

.popover-product__close:active {
  opacity: 0.3;
}

.cart-popover__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 12px 20px;

  background-color: #1a1a1a;
}

.popover-btn {
  display: block;
  box-sizing: border-box;
  width: 280px;
  margin: auto;
  padding: 14px 20px;

  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway";
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;

  background-color: #ffffff;
}

.popover-btn:hover {
  color: rgba(0, 0, 0, 1);

  background-color: rgba(255, 225, 127, 1);
}

.popover-btn:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.popover-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  display: flex;
  width: 100%;
  height: 100%;

  background-color: rgba(240, 240, 240, 0.9);
}

.modal-container_close {
  display: none;
}

.modal {
  position: relative;

  box-sizing: border-box;
  width: 920px;
  margin: auto;
  padding: 62px 70px;

  background-color: #ffffff;
  border: 10px solid #000000;
}

.modal__title {
  margin-bottom: 42px;
}

.modal-form__user {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  margin-bottom: 62px;

  column-gap: 40px;
}

.modal-form__product {
  display: grid;
  grid-template-columns: 540px 180px;
  margin-bottom: 42px;

  column-gap: 40px;
}

/* Переделать всё, что ниже */


/* Выделить в отдельный блок */

.modal-form__field {
  display: flex;
  gap: 14px;
  flex-direction: column;
}

/* Не использовать селекторы по тегам */

.modal-form__field label {
  position: relative;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: "Rubik", sans-serif;
  color: #000000;
  letter-spacing: -0.02em;
}

.modal-form__field label[for="quantity"] {
  outline: none;
}

.modal-form__field label[for="quantity"]::after {
  content: "";
  position: absolute;
  top: -3px;
  right: 34px;

  display: block;
  width: 26px;
  height: 26px;

  background-image: url("../img/modal/amount-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.modal-form__field input[type="text"],
.modal-form__field input[type="email"] {
  box-sizing: border-box;
  padding: 20px;
  padding-right: 60px;

  font: inherit;
  font-size: 16px;
  line-height: 20px;

  background-color: #f0f0f0;
  border: none;
}

.modal-form__field input[name="name"] {
  position: relative;

  background-image: url("../img/modal/modal-user-icon.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.modal-form__field input[name="email"] {
  background-image: url("../img/modal/mail-icon.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.modal-form__field input[type="number"] {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 0;

  font: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;

  background-color: #f0f0f0;
  border: none;

  appearance: textfield;
}

.modal-form__field input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.modal-form__field input:not([type="number"]):hover {
  background-color: #dcdcdc;
}

.modal-form__field input:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.modal-form__field input:not([type="number"]):active {
  background-color: #ebebeb;
}

.number-field {
  display: flex;
}

.number-field input:focus {
  position: relative;
  z-index: 3;
}

.number-field__btn {
  position: relative;
  z-index: 1;

  box-sizing: border-box;
  width: 60px;
  padding: 30px;

  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.number-field__btn_less {
  order: -1;

  background-image: url("../img/modal/modal-minus-icon.svg");
}

.number-field__btn_more {
  background-image: url("../img/modal/modal-plus-icon.svg");
}


.number-field__btn:hover {
  opacity: 0.6;
}

.number-field__btn:focus {
  outline: 2px solid #af4fff;
}

.number-field__btn:active {
  opacity: 0.3;
}

.modal__close-btn {
  position: absolute;
  top: 74px;
  right: 70px;

  display: block;
  width: 26px;
  height: 26px;

  background-color: #ffffff;
  background-image: url("../img/modal/modal-close-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 0.6;
}

.modal__close-btn:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.modal__close-btn:active {
  opacity: 0.3;
}

.modal__tooltip {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 5;

  display: none;
  width: 160px;
  margin: 0;
  padding: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000;
}

.modal__tooltip::after {
  content: "";
  position: absolute;
  top: -5px;
  right: 59px;

  display: block;
  width: 14px;
  height: 6px;

  background-image: url("../img/popover-top.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form__field label[for="quantity"]:hover .modal__tooltip,
.modal-form__field label[for="quantity"]:focus .modal__tooltip {
  display: block;
}
