@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik";

  font-display: swap;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Rubik";

  font-display: swap;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Raleway";

  font-display: swap;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Rubik", "Arial", "Helvetica", sans-serif;
  color: #444444;
}


/* ___common-styles___ */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.page-container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.page-container_catalog {
  width: 1040px;
}

.title {
  display: block;
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  color: #000000;
}

.btn {
  display: block;

  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

/* ___page-header___ */

.logo {
  display: block;
  margin: 0;
}

.logo__image {
  display: block;
  width: 145px;
  height: 36px;
}

.page-nav {
  width: 1040px;
  margin: 0 auto;
  padding: 0 60px;

  background-image: linear-gradient(#ffffff 18%, #ffe17f 18%);
}

.page-nav ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-wrapper {
  display: flex;
  justify-content: space-between;
}

.search-form {
  width: 517px;
}

.search-field {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  color: #000000;
}

.search-field::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  color: #000000;

  opacity: 0.3;
}

.search-submit {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 231px;
}

.action-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 241px;
}

.menu-link {
  color: #000000;
  text-decoration: none;
}

.menu-link_logout {
  opacity: 0.3;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
}

.nav-menu li:not(:last-child) {
  margin-right: 45px;
}

.nav-menu li:first-child {
  width: 293px;
  margin-right: auto;
}

.nav-link {
  font-weight: 800;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.nav-link_footer {
  color: #ffffff;
}

.sub-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

/* ___page-main___ */

.main-container {
  flex-grow: 1;
}

.page__section {
  margin-bottom: 70px;
}

/* ___slider___ */

.slider {
  background-image: linear-gradient(#ffe17f 24%, #ffffff 24%);
}

.slides {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: flex;
  justify-content: space-between;
}

.slide-content-wrapper {
  width: 560px;
  padding-top: 108px;
}

.slide__slogan {
  margin-bottom: 30px;
}

.slide__description {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

.slide__btn {
  margin-bottom: 50px;
}

.props th {
  font-weight: 400;
  font-size: 16px;
}

.props td {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

/* ___favourites___ */

.favourites-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.category {
  display: block;
  width: 160px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  color: #000000;
  text-decoration: none;
  letter-spacing: -0.02em;
}

/* ___services___ */

.services {
  background-image: linear-gradient(#ffffff 26%, #f0f0f0 26%);
}

.services-layout {
  display: flex;
}

.services-tabs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  margin: 0;
  padding: 0;
  padding-top: 65px;
  padding-bottom: 65px;

  list-style: none;

  border-right: 7px solid #000000;
}

.services-panels {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.services-panel {
  padding-top: 72px;
  padding-bottom: 72px;
  padding-left: 116px;
}

.services-panel__title {
  margin-bottom: 34px;
}

.services-panel__text {
  width: 476px;
  margin: 0;
  padding: 0;
}

.services-tab {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

/* ___delivery-link___ */

.delivery-link {
  display: block;
  width: 910px;
  margin: 0 auto;
  padding: 40px 125px;

  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;

  background-color: #f0f0f0;
}

.columns-layout {
  display: flex;
  justify-content: space-between;
}

/* ___about___ */

.about {
  width: 520px;
  padding-top: 47px;
}

.about__title {
  margin-bottom: 48px;
}

.about p {
  margin: 0;
  margin-bottom: 30px;
}

.delivery-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  list-style: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.02em;
}

.delivery-list li:not(:last-child) {
  margin-bottom: 20px;
}

/* ___contacts___ */

.contacts {
  width: 532px;
  padding-top: 48px;
}

.contacts__title {
  margin-bottom: 48px;
}

.contacts__description,
.contacts__info,
.contacts__schedule {
  margin: 0;
  margin-bottom: 30px;
}

.contacts__schedule p {
  margin: 0;
}

.contacts__subtitle {
  margin: 0;
  margin-bottom: 15px;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.address {
  font-style: normal;
}

.phone-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
}

/* ___mailing___ */

.mailing {
  padding-top: 65px;
  padding-bottom: 55px;

  background-color: #f0f0f0;
}

.mailing-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: 145px;
}

.mailing__title {
  width: 348px;
}

.mailing__description {
  width: 560px;
  margin: 0;
}

.mailing-form {
  width: 810px;
}

.mailing-field {
  font: inherit;
  color: #444444;
}

.mailing-field::placeholder {
  opacity: 0.5;
}

.mailing-submit {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.mailing__note {
  margin: 0;
}

/* ___page-footer___ */

.page-footer {
  padding-top: 65px;
  padding-bottom: 65px;

  color: #ffffff;

  background-color: #444444;
}

.page-footer__logo {
  margin-bottom: 35px;
}

.page-footer__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.page-footer__address {
  width: 236px;

  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  width: 444px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-footer__phone {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
}

.page-footer__social {
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social-link {
  display: block;
  width: 40px;
  height: 40px;

  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.credit {
  display: block;
  width: 115px;
  height: 33px;
}

.credit__image {
  display: block;
  width: 115px;
  height: 33px;
}

.page-catalog {
  padding-top: 35px;
}

.page-catalog__title {
  margin-bottom: 15px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 36px;
}

.page-catalog__bread {
  margin-bottom: 35px;
}

.breadcrumb {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

.catalog-wrapper {
  background-color: #f0f0f0;
}

.filters {
  width: 200px;
  padding: 0 60px;
}

.catalog-right-column {
  flex-grow: 1;
}

.filter-title {
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filter-group ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.group-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.02em;
}

.radio,
.check {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.select-control {
  font: inherit;
  color: #000000;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting-form {
  width: 160px;
}

.orders {
  display: flex;
  width: 60px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.products {
  background-color: #ffffff;
}

.products-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.product__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.02em;
}

.product__price {
  line-height: 21px;
}

.more-btn {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #ffffff;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;

  list-style: none;

  background-color: #f0f0f0;
}

.pagination li:first-child {
  margin-right: auto;
}

.pagination li:last-child {
  margin-left: auto;
}

.pagination-btn {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 10px 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  text-decoration: none;

  opacity: 0.3;
}
